/* SPDX-License-Identifier: Apache-2.0 */
/* Candidate pin contract only. R8 PCB qualification is blocked; do not flash R6/R7. */
/ {
	chosen {
		/delete-property/ zephyr,console;
		/delete-property/ zephyr,shell-uart;
	};
	aliases {
		sw1 = &pair_button;
		led0 = &status_led;
	};
	gpio_keys {
		pair_button: pair_button {
			label = "PAIR";
			gpios = <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_1>;
		};
	};
	leds {
		compatible = "gpio-leds";
		status_led: status_led {
			label = "STATUS";
			gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
		};
	};
};

&user_button1 {
	label = "SHUTTER";
	gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
};

&wifi { status = "disabled"; };
&i2c0 { status = "disabled"; };
&spi2 { status = "disabled"; };
&uart0 { status = "disabled"; };
&usb_serial { status = "disabled"; };
